.page-footer {
  color: #fff;
  position: relative;
  padding: 65px 1rem;
}

.footer-bg {
  background-color: $text-color;
  border-radius: 2rem;
  position: absolute;
  top: 5%;
  left: 2%;
  width: 96%;
  height: 90%;
}

.page-footer a {
  color: #fff;
  border-bottom: 1px solid;
}

.page-footer ul { 
  list-style: none;
  padding: 0;
}
.page-footer ul li {
  margin-bottom: 0.5rem;
}