.page-footer {
  color: #fff;
  position: relative;
  padding: 60px;
}

.footer-bg {
  background-color: $text-color;
  border-radius: 2rem;
  position: absolute;
  top: 5%;
  left: 2%;
  width: 96%;
  height: 90%;
}