
/* Navbar */
.navbar {
  padding: 46px 0 .5rem 0;
  transition: all 0.5s;
  background-color: #fff;

  &.sticky {
    padding: 0.5rem 0;
    box-shadow: 0 0 10px 0 #0000000f;
  }

  .nav-item {
    white-space: nowrap;
  }
}

.navbar-nav .nav-link {
  color: $text-color;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;

  &:hover,
  &.active {
    color: $light-text-color;
  }

  &.active {
    &::after {
      opacity: 1;
      transform: none;
    }
  }

  &::after {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(/img/star.svg);
    position: absolute;
    top: 5px;
    right: -12px;
    opacity: 0;
    transition: all .5s;
    transform: translateY(-10px);
    background-size: 100%;
  }
}

.navbar-collapse {
  font-size: $smallFontSize;
}
/* Navbar end*/

/* Navbar mobile */
.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-toggler .icon-bar {
  background-color: $text-color;
  border-radius: 2px;
  display: block;
  height: 3px;
  width: 25px;

  + .icon-bar {
    margin-top: 4px;
  }
}

.icon-bar,
.navbar-toggler .icon-bar,
.navbar-toggler.toggle-clicked .icon-bar {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(1) {
  transform: rotate(-43deg);
  margin-left: -27px !important;
  min-width: 31px;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(2) {
  transform: rotate(43deg);
  margin-left: -27px !important;
  margin-top: -3px !important;
  min-width: 31px;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(3) {
  transform: rotate(37deg);
  margin-left: -1px !important;
  width: 21px !important;
  opacity: 0;
  margin-top: -2px;
}

