
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  #projects .container-fluid {
    max-width: 1700px;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1090px) {

}
@media (max-width: 1199px) {
  body {
    padding-top: 70px;
  }

  .navbar {
    padding: 0.5rem 0;
  }

  .panel {
    padding: 1rem;
    margin: 1px;
  }
}

@media (max-width: 991px) {
  body {
    padding-top: 85px;
  }

  #main::before {
    background-size: auto 70%;
    top: 0;
  }
  #maps_functionality {
    margin-top: -110px;
  }

  section {
    padding-top: 1rem;
  }

  .navbar-nav {
    height: 100vh;
    margin: 3rem 70px;

    .nav-link {
      font-size: 24px;
      &::after {
        width: 32px;
        height: 32px;
        left: -40px;
      }
    }
  }

  #agree {
    position: static;
  }

  .cognito .c-forms-form-main {
    max-width: 100%;
  }
  #geoportal {
    background-position: 25% 5%;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 76px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  .h3, h3 {
    font-size: 1.5rem;
  }
  .map-dark-bg:after {
    display: none;
  }
  #comparison::before {
    background-size: auto 75%;
    top: -15%;
  }
  .big-panel-table>div>div.col-after {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 767px) {
  .navOpened .navbar {
    background-color: #fff;
  }

  .navbar-nav {
    height: 100vh;
    margin-top: 2em;
    margin-left: 50px !important;
  }

  .navbar-brand img {
    height: 47px;
    margin: 0 15px;
  }

  .nav-link {
    font-size: 24px;
    &::before {
      display: none;
    }
    &.active {
      font-weight: bold;
  
    }
  }

  .comparison-table {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 16px;
  }

  .comparison-table th:first-child,
  .comparison-table td:first-child {
    padding-left: 15px;
  }

  .comparison-table th:last-child ,
  .comparison-table td:last-child {
    padding-right: 15px;
  }

  .green-check::before{
    width: 25px;
    height: 25px;
    min-width: 25px;
  }
}

@media (max-width: 575px) {
  #layer_sources .justify-content-around{
    gap: 10px
  }
}



@media (max-width: 344px) {
  .navbar-brand img {
    height: 30px;
  }
}
