
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  #services {
    padding: 60px 0 90px;
  }
  .inverted-section {
    padding: 60px 0 80px;
  }
  #contacts {
    padding: 65px 0 60px;
  }
  #about{
    padding-top: 70px;
  }

  .nav-close {
    display: none;
  }

  #contacts-home .f-img {
    text-align: right;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin: 0 .5rem;
  }

  #projects .container-fluid {
    max-width: 1700px;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1090px) {

}
@media (max-width: 1199px) {
  body {
    padding-top: 70px;
  }

  .navbar {
    padding: 20px 0 0.5rem 0;
  }

  .panel {
    padding: 1rem;
  }
}

@media (max-width: 991px) {
  body {
    padding-top: 100px;
  }

  // .navbar {
  //   padding: 15px 0 0.5rem 0;
  // }

  h6 {
    margin-top: 20px;
  }

  #main::before {
    background-size: auto 70%;
    top: 0;
  }
}

@media (max-width: 991px) {
  section {
    padding-top: 30px;
  }

  #about {
    background-position: 100% 40%;
    background-size: 30%;
  }

  .navbar-nav {
    height: 100vh;
    margin: 3rem 70px;

    .nav-link {
      color: #00A77E;
      font-size: 24px;
      &::after {
        width: 32px;
        height: 32px;
        left: -40px;
      }
      &:hover,
      &.active {
        color: #fff;
      }
    }
  }

  #agree {
    position: static;
  }

  .cognito .c-forms-form-main {
    max-width: 100%;
  }
  #geoportal {
    background-position: 25% 5%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  .h3, h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
}
