
// modal

.modal:not(.mini) {
  background: $backgroundColor;

  .modal-dialog {
    width: 100vw;
    max-width: 100vw;
    margin: $headerHeight 0 0;
    border: none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-content {
    border: none;
    border-radius: 0;
    min-height: calc(100vh - #{$headerHeight});
  }

  &:not(.modal-project) .modal-body p {
    margin: 0;
  }
}

.modal-content {
  background: $backgroundColor;
}

.modal-header {
  border-bottom: none;
  padding: 40px 40px 25px;
}

.modal-project {
  .modal-body .checked-list li {
    margin: 0;
  }
  h6 {
    margin-bottom: 20px;
  }
}
.modal-body {
  h4 {
    color: $tagsTextColor;
    background-color: $tagsBackgroundColor;
    padding: 19px 24px;
    margin: 10px 0;
    font-size: 17px;
    border-radius: 10rem;
    font-weight: 500;
    width: fit-content;
  }

  h1 {
    margin-bottom: .5rem;
  }

  h2 {
    font-size: 18px;
    margin-top: 45px;
  }

  .zp h1 {
    font-size: 42px;
    color: #199601;
  }

  ol {
    padding-left: 1rem;
  }

  ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;

    li::before {
      content: "•"; /* Insert content that looks like bullets */
      padding-right: 8px;
    }
  }

  li { 
    padding-bottom: 1em; 
  }
  img {
    width: 100%;
  }
}

.mini {

  .modal-body {
    padding: 0 40px 40px;
  }
  
  .modal-content {
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
  }

  h4 {
    margin: 10px 10px 10px 0;
  }

  p {
    width: 100%;
  }

  .close svg{
    fill: $light-text-color;
  }
}

@media (min-width: 576px) {
  .mini#agree-modal .modal-dialog{
    max-width: 930px;
  }

  .projects-item:last-child {
    margin-bottom: 0;
  }
  .custom-switch {
    margin-left: 217px;
    padding-top: 20px;
  }
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.modal-backdrop.show {
  opacity: 0;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 630px;
  }
}

// modal end