$font-family: -apple-system,BlinkMacSystemFont, "TT Hoves", "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-size: 18px;
$smallFontSize: 15px;

$text-color: #263148;
$light-text-color: #808080;

// Button
$btn-background-color: #67C9D3;
$btn-hover-background-color: #00926E;
$btn-active-background-color: #01C595;
$btn-padding: 1rem 1.5rem;